.login-form {
    background-color: var(--backgroundWhite); /* Fundo quase opaco */
    border: none; /* Remove a borda do formulário */
    padding: 30px; /* Aumenta o espaçamento interno */
    box-shadow: 0 2px 10px var(--backgroundGray); /* Sombra suave para dar um efeito de elevação */
    width: 100%; /* Garante que o formulário ocupe 100% da largura */
    max-width: 400px; /* Limita a largura máxima do formulário */
    margin: auto;
}

.input-field {
    border: none; /* Remove a borda padrão dos campos */
    border-bottom: 2px solid var(--border); /* Borda inferior para dar o efeito de linha */
    border-radius: 0; /* Remove as bordas arredondadas dos campos */
    background-color: transparent; /* Fundo transparente para um visual mais leve */
    padding: 10px 0; /* Espaçamento apenas na parte superior e inferior */
    width: 100%; /* Garante que os campos ocupem toda a largura */
}

.input-field:focus {
    border-bottom: 2px solid var(--accent); /* Altera a cor da borda inferior ao focar */
    box-shadow: none; /* Remove qualquer sombra ao focar */
}

.input-field::placeholder {
    color: #aaa; /* Cor do texto do placeholder */
    opacity: 1; /* Faz com que o placeholder seja totalmente opaco */
}

/* Estilo do botão para garantir que ocupe 100% da largura */
.btn {
    width: 100%; /* Garante que o botão ocupe 100% da largura */
}
